<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
	<section>
		<h1>This is our about page.</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			Minima eos commodi ea dolores ad ducimus quaerat error consequatur
			quae officia? Expedita mollitia praesentium quaerat ut officiis vel
			eum blanditiis. Eveniet recusandae soluta laborum hic doloribus odit
			dignissimos aliquid expedita ab quae velit aut at aperiam nesciunt
			cupiditate voluptatem doloremque fuga!</p>
	</section>
</body>
</html>