<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Conditions in Thymeleaf</title>
</head>
<body>
	<h1>Conditions in Thymeleaf</h1>
	<h1>User is <span th:text="${isActive} ? 'ACTIVE' : 'INACTIVE'"
		th:style="${isActive} ? 'color:green' : 'color:red'"
	></span></h1>
	<h1 th:if="${gender} == 'M'">Male</h1>
	<h1 th:unless="${gender} == 'M'">Female</h1>
	
	<div th:switch="${#lists.size(mylist)}">
		<h1 th:case="'0'">List is empty</h1>
		<h1 th:case="'1'">List contain single element</h1>
		<h1 th:case="*">List contains multiple elements</h1>
	</div>
</body>
</html>