<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Footer fragments</title>
</head>
<body>
	<footer id="fragmentTag" th:fragment="fragment1(title, subtitle)">
		<div class="conatainer">
			<h1 th:text="${title}"></h1>
			<h1 th:text="${subtitle}"></h1>
			<h1>About build.io</h1>
			<h1>We help you build your ideas!</h1>
			<h1>Feel free to reach us.</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat doloremque omnis est eius voluptas praesentium earum unde necessitatibus nam esse reiciendis voluptatibus non inventore dolores fugiat. Illo temporibus esse impedit!</p>
		</div>
	</footer>
</body>
</html>